.bangers{
    font-family: 'Bangers', cursive;
}

.baloo{
    font-family: 'Baloo', cursive;
}

.pressStart{
    font-family: 'Press Start 2P', cursive;
}

.rubikMono{
    font-family: 'Rubik Mono One', sans-serif;
}

.italiano{
    font-family: 'Italianno', cursive;
}
.Gloria-Hallelujah{
    font-family: 'Gloria Hallelujah', cursive;
}
.Montserrat-Alternates{
    font-family: 'Montserrat Alternates', sans-serif;
}
.Neuton{
    font-family: 'Neuton', serif;
}
.Josefin-Slab{
    font-family: 'Josefin Slab', serif;
}
.Changa{
    font-family: 'Changa', sans-serif;
}
.Handlee{
    font-family: 'Handlee', cursive;
}
.Tangerine{
    font-family: 'Tangerine', cursive;
}
.Neucha{
    font-family: 'Neucha', cursive;
}
.Architects-Daughter{
    font-family: 'Architects Daughter', cursive;
}
.Press-Start-2P{
    font-family: 'Press Start 2P', cursive;
}
.PT-Mono{
    font-family: 'PT Mono', monospace;
}
.Lacquer{
    font-family: 'Lacquer', sans-serif;
}
.Schoolbell{
    font-family: 'Schoolbell', cursive;
}
.Julius-Sans_One{
    font-family: 'Julius Sans One', sans-serif;

}
.Alegreya-Sans-SC{
    font-family: 'Alegreya Sans SC', sans-serif;
}
.Nothing-You-Could-Do{
    font-family: 'Nothing You Could Do', cursive;
}
.Ubuntu{
    font-family: 'Ubuntu', sans-serif;
}